<html>

<head>
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    {{{body}}}
</body>

</html>
