<div class="container">
        <div class="card">
            <div class="row">
                <div class="col-9 left">
                    <div class="row top">
                        <div class="col">Moscow</div>
                        <div class="col">18.01.2020</div>
                        <div class="col">Rain map</div>
                    </div>
                    <div class="row">
                        <div class="col-7 temp">-4&deg;</div>
                        <div class="col-5 time">
                            <p>11:00</p>
                            <h2><b>Saturday</b></h2>
                            <p>Cloudy</p>
                        </div>
                    </div>
                    <div class="row bottom">
                        <div class="col">
                            <hr>
                        </div>
                        <div class="col border">
                            <div class="row">Sab</div>
                            <div class="row"><b>-4&deg;</b></div>
                        </div>
                        <div class="col">
                            <div class="row">Sun</div>
                            <div class="row"><b>-4&deg;</b></div>
                        </div>
                        <div class="col">
                            <div class="row">Mon</div>
                            <div class="row"><b>-5&deg;</b></div>
                        </div>
                        <div class="col">
                            <div class="row">Tue</div>
                            <div class="row"><b>-10&deg;</b></div>
                        </div>
                        <div class="col">
                            <div class="row">Wed</div>
                            <div class="row"><b>-4&deg;</b></div>
                        </div>
                        <div class="col">
                            <div class="row">Thu</div>
                            <div class="row"><b>-2&deg;</b></div>
                        </div>
                        <div class="col">
                            <div class="row">Fri</div>
                            <div class="row"><b>0&deg;</b></div>
                        </div>
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-3 right">
                    <div class="row top">For a month</div>
                    <div class="timely">
                        <div class="row">11:00 &nbsp; <b>-4&deg;</b></div>
                        <div class="row">12:00 &nbsp; <b>-4&deg;</b></div>
                        <div class="row">13:00 &nbsp; <b>-5&deg;</b></div>
                        <div class="row">14:00 &nbsp; <b>-7&deg;</b></div>
                        <div class="row">15:00 &nbsp; <b>-4&deg;</b></div>
                        <div class="row">16:00 &nbsp; <b>-4&deg;</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>