<html>
    <head>
        <title>{{{title}}}</title>
    </head>
    <body>
        <form action="/api/login" method="POST">
        <div>
            <input name="city" type="text">
            <br>
            <button>Find</button>
            <div>
                <br><br>
                {{{temp}}}
                {{{error}}}
            </div>
        </div>
        </form>
    </body>
</html>