<html>
    <head>
        <title>{{{title}}}</title>
    </head>
    <body>
        <form action="/api/login" method="POST">
        <div>
            <input name="username" type="text">
            <br>
            <input name="password" type="password" required>
            <br>
            <button>Submit</button>
        </div>
        </form>
    </body>
</html>