<div class="container">
        <div class="card">
            <div class="row">
                <div class="col-9 left">
                    <div class="row top">
                        <div class="col" style="font-size: 35px;">Weather in {{{city}}}</div>
                        <div class="col" style="font-size: 18px;">{{{date}}}</div>
                    </div>
                    <div class="row">
                        <div class="col-7 temp">{{{temp}}}&deg;C</div>
                        <div class="col-5 time">
                            <p style="text-align: center">{{{humidity}}}</p>
                        </div>
                        <div class="my-div">
                            <a href="/" class="my-btn">Back</a>
                        </div>
                        <div>
                            <p class="w3-center">Created By <a href="https://github.com/NihalP01">NihalP01</a></p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
